---
import styles from '../styles/NavBar.module.css';

const navItems = [
  { href: "#about", label: "About", shortLabel: "A" },
  { href: "#projects", label: "Projects", shortLabel: "P" },
  { href: "#contact", label: "Contact", shortLabel: "C" }
];
---

<nav class={styles.nav}>
  <a href="/" class={styles.homeLink}>
    Home
  </a>
  
  <ul class={`${styles.menu} space-x-8`}>
    {navItems.map(item => (
      <li>
        <a href={item.href} class={styles.menuLink}>
          {item.label}
        </a>
      </li>
    ))}
  </ul>
</nav>

<style>
  html {
    scroll-behavior: smooth;
  }
  
  :target {
    scroll-margin-top: 5rem;
  }
</style>
